{% extends "layout/base.html" %}
<!-- Title -->
{% block title %}
{{ SITENAME }} | Início
{% endblock %}
<!-- EndTitle -->

<!-- Head -->
{% block head %}
{{ super() }}
{% endblock %}
<!-- EndHead -->

<!-- Header -->
{% block header %}
	<h1>Seja bem-vindo <small class="iaxs-color-base">explore as nossas páginas</small></h1>
	<h3>Um pouco <a class="iaxs-link-header" href="{{ SITEURL }}/pages/pt-br/sobre-nos.html">sobre nós</a></h3>
	<p>Saiba mais sobre os nossos projetos</p>
{% endblock%}
<!-- EndHeader -->

<!-- Content -->
{% block content %}
	<h2>
		Programa de Educação Tutorial (PET) do curso de Física
	</h2>
	<br />
	<center>
    	<img src="/images/logo.png" >
    	<img src="/images/ufrpe.png">
    </center>
	<br />
	<h2>
		Universidade Federal Rural de Pernambuco (UFRPE)
	</h2>
{% endblock %}
<!-- EndContent -->

<!-- Add Google Maps -->
{% block maps %}
	<div id="googleMap" style="height:400px;width:100%;"></div>

	<!-- 
	<script src="https://maps.googleapis.com/maps/api/js"></script>
	-->

	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCZU6pn_EhCF0dZyL86YjhWIVLvkqjlEzw" ></script>

	<script>
	var myCenter = new google.maps.LatLng(-8.015992, -34.951377);

	function initialize() {
	var mapProp = {
	  center:myCenter,
	  zoom:17,
	  scrollwheel:false,
	  draggable:false,
	  mapTypeId:google.maps.MapTypeId.ROADMAP
	  };

	var map = new google.maps.Map(document.getElementById("googleMap"),mapProp);

	var marker = new google.maps.Marker({
	  position:myCenter,
	  });

	marker.setMap(map);
	}

	google.maps.event.addDomListener(window, 'load', initialize);
	</script>
{% endblock %}