{% extends "layout/base.html" %}

<!-- Title -->
{% block title %}
	{{ SITENAME }} | {{ page.title }}
{% endblock %}
<!-- EndTitle -->

<!-- Head -->
{% block head %}
	{{ super() }}
{% endblock %}
<!-- EndHead -->

<!-- Header -->
{% block header %}
	<h1 class="iaxs-color-base">
		{{ page.icon }} {{ page.title }}
	</h1>
	<h3 class="iaxs-color-base">
		{{ page.subtitle }}
	</h3>
	<p class="iaxs-color-base">
		{{ page.summary }}
	</p>
{% endblock%}
<!-- EndHeader -->

<!-- Content -->
{% block content %}
	{{ page.content }}
{% endblock %}
<!-- EndContent -->