{% extends "layout/base.html" %}
<!-- Title -->
{% block title %}
	{{ SITENAME }} | Início
{% endblock %}
<!-- EndTitle -->

<!-- Head -->
{% block head %}
	{{ super() }}
{% endblock %}
<!-- EndHead -->

<!-- Header -->
{% block header %}
	<h1>{{ article.title }}</h1>
	<h3>{{ article.subtitle }}</h3>
	<h4>Publicado por 
		<a class="iaxs-link-header" href="{{ SITEURL }}/{{ article.author.url }}">
			{{ article.author }}
		</a> em {{ article.date|strftime('%d %B %Y') }}
	</h4>
	{{ article.summary }}	
{% endblock %}
<!-- EndHeader -->

<!-- Content -->
{% block content %}
	{{ article.content }}
{% endblock %}
<!-- EndContent -->

{% block disqus %}
<div class="container">
	<div class="row">
		<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
			<div id="disqus_thread"></div>
		</div>
	</div>
</div>


<script>
var disqus_config = function () {
this.page.url = {{ SITEURL }}{{ article.url }};
this.page.identifier = {{ article.slug }};
};

(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = '//https-petfisicaufrpe-github-io.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>

<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<script id="dsq-count-scr" src="//https-petfisicaufrpe-github-io.disqus.com/count.js" async></script>
{% endblock %}